@tailwind base;
@tailwind components;
@tailwind utilities;

*,html,body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.violet-bg-gradient{
    background: linear-gradient(96.71deg, #5656F2 0%, #3333DC 101.64%);
}

.slate-bg-gradient{
    background: linear-gradient(108.63deg, #485563 -0.82%, #29323C 104.26%);
}

.violet-text-gradient{
    background: linear-gradient(96.71deg, #5656F2 0%, #3333DC 101.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.slate-text-gradient{
    background: linear-gradient(108.63deg, #485563 -0.82%, #29323C 104.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.button-shadow{
    box-shadow: 0px 4px 10px 0px #E7E7FB;
}

.success-popup{
    box-shadow: 12px 12px 36px 6px #0202461F;

}

.privacy-card{
    box-shadow: 0px 5.88px 108.79px 0px #EAEAFF;
}

